.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    color: var(--white);
    background: #5271ff;
    min-height: 100vh;
    font-family: 'Lilita One', sans-serif;
    overflow-y: hidden;
}

.color-container {
    display: flex;
    justify-content: center;
}

.color-square {
    border-radius: 25px;
    width: 200px;
    height: 200px;
    margin: 25px;
    border: 0px none;
    box-shadow: 0 50px 0 0 var(--black); 
}

.color-square:active {
    border: 10px solid white;
}

.color-square:hover {
    cursor: pointer;
}

.color-square-active {
    border-radius: 25px;
    width: 200px;
    height: 200px;
    margin: 25px;
    border: 0px none;
    box-shadow: 0 50px 0 0 var(--black); 
    border: 10px solid white;
    cursor: pointer;
}

p {
   color: #f4f3f3;
   font-size: large;
   font-family: 'Lilita One', sans-serif;
}
